body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(195, 34, 160);
    background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
  
    background-attachment: fixed;
    color: black;
    text-align: center;
  }
  
  img {
    border-radius: 50%;
    width: 100px;
    height: 180px;
  }
  
  .button {
    background-color: transparent;
    color: black;
    border: 2px solid white;
    border-radius: 50px;
    width: 70%;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: white;
    text-decoration: none;
    border: 1px solid white;
    color: black;
  }
  

  .backdrop {
	  -moz-box-shadow: 0px 6px 5px #111; 
	  -webkit-box-shadow: 0px 6px 5px #111; 
	  box-shadow: 0px 2px 10px #111; 
	  -moz-border-radius:190px; 
	  -webkit-border-radius:190px; 
	  border-radius:190px;
  }

  .linktree {
	  width: 120px;
	  height: 120px;
	  background-image: url("https://imagizer.imageshack.com/img924/4331/zEjtZT.jpg");
	  background-size: cover;
	  background-repeat: no-repeat;
	  background-position: 60% 50% 25%;
  }